*{
    margin: 0;
    padding:0;
    box-sizing: ;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;

}
.colore-orange{
  color:#FD6E0A
}

header{
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png") , #FFF8F3;
  background-position:top left,  bottom right ;
  background-repeat:no-repeat ;
  padding-top: 50px;

}

nav{
 width: 71%;
 max-width: 1140px;
  
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 51px ;
    align-items:center ;

}
nav .menu a{
    font-size: 20px;
    color:#474747 ;
    text-decoration:none ;

}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding:18px 35px ;
  border-radius: 5px;
  font-size: 20px;
  font-weight:bold ;
  color: white;
  cursor: pointer;
}
#bannar{

  margin: 47px 40px 0px 188px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bannar .bannar-content h2 {
  font-size: 45px;
  font-weight:600 ;
  margin-bottom:5px ;
  color:#474747;
}
#bannar .bannar-content h1 {
  font-size: 77px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;

}
#bannar .bannar-content p{

  font-size: 18px;
  
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;

}
#bannar .bnnar-image {
  max-width: 585px;
  vertical-align: middle;

}
#aboute{
   padding-top:130px;
}
#aboute .aboute-container{
  width: 60%;
  max-width:1140px ;
  height:300px ;
  margin:0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
  
}
#aboute .section-heading {
  max-width: 827px;
  text-align: center;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
  line-height: 30px;
}
#aboute .aboute-container .aboute-info{
  display : flex;
  justify-content: space-around;
}
.aboute-info .info-card p {

  font-size: 20px;
  color:#757575 ;
  line-height: 30px;

}
.aboute-info .info-card h4{
  font-size: 20px;
  


}

